WarningsAsErrors: '*'
Checks: >
  -*,

  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  clang-analyzer-*,
  boost-*,
  llvm-*,
  concurrency-*,
  cppcoreguidelines-*,

  -llvm-include-order,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -modernize-use-trailing-return-type,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -performance-no-int-to-ptr,
  -misc-non-private-member-variables-in-classes,
  -readability-convert-member-functions-to-static,
  -misc-no-recursion,
  -google-build-using-namespace,
