WarningsAsErrors: '*'
Checks: >
  -*,

  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  clang-analyzer-*,

  llvm-header-guard,

  -modernize-use-trailing-return-type,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -performance-no-int-to-ptr,
  -misc-non-private-member-variables-in-classes,
  -readability-convert-member-functions-to-static,
  -misc-no-recursion,
  -google-build-using-namespace,
