.idea
x64
.vs
loader/Debug
Debug

loader/notepadgame.vcxproj.filters
loader/notepadgame.vcxproj.user
loader/loader.vcxproj.user
notepadgame.sln.DotSettings.user
cmake-build-debug
mainlog.txt
out
build
extern/thirdparty/scintilla/win32
.cache
extern/thirdparty/scintilla/bin
compile_commands.json
.DS_Store
bin
extern/thirdparty
