.idea
x64
.vs
loader/Debug
Debug

loader/notepadgame.vcxproj.filters
loader/notepadgame.vcxproj.user
loader/loader.vcxproj.user
notepadgame.sln.DotSettings.user
cmake-build-debug
mainlog.txt
out
build
extern/scintilla/bin
.cache
extern/scintilla/bin
compile_commands.json